<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="73f5bc">  <td>22/10/11 15:31:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.login(java.lang.String)[pri:0, instance:com.testNF.Test.HomePageTest@5c5eefef]">login</td> 
  <td>main@752316209</td>   <td></td> </tr>
<tr bgcolor="73f5bc">  <td>22/10/11 15:31:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.login(java.lang.String)[pri:0, instance:com.testNF.Test.HomePageTest@5c5eefef]">login</td> 
  <td>main@752316209</td>   <td></td> </tr>
<tr bgcolor="73f5bc">  <td>22/10/11 15:31:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.login(java.lang.String)[pri:0, instance:com.testNF.Test.HomePageTest@5c5eefef]">login</td> 
  <td>main@752316209</td>   <td></td> </tr>
</table>
